.pagination button{

    margin-right: 10px;
    background-color: white;
    border:1px solid black;
  
}
.pagination .selected{
    background-color: black;
    color:white;

}
html{scroll-behavior: smooth}